<video autoplay muted loop id="backgroundVideo">
    <source src="../../assets/dazeGif.webm" type="video/webm">
</video>
<div>
    <h1 class='headerText' style='text-align: center '>
        Magic the Gathering: Card and Set Simplified Display
    </h1>
</div>
<div>
    <h4 class='headerText' style='text-align: center'>
        Choose what you want to show
    </h4>
<button class='myButton1' *ngIf='showCards' (click)='showC()'>Show Cards</button>
<button class='myButton1' *ngIf='!showCards' (click)='showC()'>Hide Cards</button>
<button class='myButton2' *ngIf='showSets'(click)='showS()'>Show Sets</button>
<button class='myButton2' *ngIf='!showSets'(click)='showS()'>Hide Sets</button>
</div>

<div class="cards" *ngIf='showCards'>
        <h1 class="cardDisplay headerText">
                Card Display
        </h1>
    <label class='filter'>Card Search</label>
    <input style="text-align: center;" [(ngModel)]="searchText" placeholder="search text goes here">
  <div class="container">  
        <div class="row text-center text-lg-left">
            <div *ngFor=" let card of cardData.data | filter: {name:searchText,  oracle_text:searchText} |  paginate: { itemsPerPage: 15, currentPage: p}" class="col-lg-3 col-md-4 col-6 cardOutput">              
                <p class='headerText' id='cardName'>{{card.name}}</p>
                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <img id="image" class="img-fluid img-thumbnail" src="{{card.image_uris.normal}}">
                        </div>
                        <div class="flip-box-back">
                            <p style="font-size:18px">Set Name: {{card.set_name}}</p>
                            <p style="font-size:18px">Set Code: {{card.set}}</p>
                            <p id='description'>Description: {{card.oracle_text}}</p>
                        </div>
                    </div>
               </div>           
            </div>      
      </div>       
  </div>
  <pagination-controls class="my-pagination" (pageChange)="p = $event" autoHide=true></pagination-controls>
</div>    
<div class="cards" *ngIf='showSets'>
        <h1 style='text-align: center'>
                Set Display
        </h1>
<label class='filter'>Set Search</label>
    <input style="text-align: center;" [(ngModel)]="searchSet" placeholder="search text goes here">
    <div class="container">  
          <div class="row text-center text-lg-left">
              <div *ngFor=" let set of setData.data | filter: {name:searchSet} |  paginate: { itemsPerPage: 15, currentPage: p}" class="col-lg-3 col-md-4 col-6 cardOutput">              
                  <p id='cardName'>{{set.name}}</p>
                  <div class="flip-box">
                      <div class="flip-box-inner">
                          <div class="flip-box-front">
                              <img id="image" class="img-fluid img-thumbnail" src="{{set.icon_svg_uri}}">
                          </div>
                          <div class="flip-box-back">
                              <p style="font-size:18px">Release Date: {{set.released_at}}</p>
                              <p style="font-size:18px">Set Code: {{set.code}}</p>
                              <p style="font-size:18px">Card Count: {{set.card_count}}</p>
                          </div>
                      </div>
                 </div>           
              </div>      
        </div>       
    </div>
    <pagination-controls class="my-pagination" (pageChange)="p = $event" autoHide=true></pagination-controls>
  </div>