/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
html{
    font-size: 1.125em;
}
body{
    background-repeat: no-repeat scroll;
    background-attachment: fixed;
    position: relative fixed;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 1%;
    margin-left: auto;
    color: black;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    width: 100%;
    height:   100%;
    transition: background-image 3s;
    font-size: 25px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
  #sbLogo{
    width: 30.8%;
    height: 22%;
  }
  